body {
    background-color: #fff;
}
table {
    width: 100%;
    border: 2px solid var(--gray-color-50);
    border-spacing: 0;
    border-radius: 7px;
}
table thead {
    display: block;
    background: var(--gray-color-50);
    padding: 18px;
    color: var(--gray-color-500);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 2px solid var(--gray-color-50);
}
table tbody {
    display: block;

}
table tbody tr,
table thead tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table tbody tr {
    padding: 25px 18px;
    border-bottom: 2px solid var(--gray-color-50);
}
table tbody tr:last-of-type {
    border-bottom: transparent;
}
table th {
    font-weight: 400;
}
table tbody td {
    color: var(--gray-color-600);
}
table tbody td.id{
color: var(--gray-color-900);
font-weight: 500;
}

thead tr th,
tbody tr td{
    width: calc((100% - 25px) / 7);
    text-align: left;
}
thead tr th.colspan-2,
tbody tr td.colspan-2{
    width: calc(((100% - 25px) / 7) * 2);
}
thead tr th:last-of-type,
tbody tr td:last-of-type {
    width: 25px;
}
.container-filter-options {
    background-color: var(--gray-color-50);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 6px 18px -8px #0000002d;
}
.container-filter-options .filter-options {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    margin: 0;
}
.container-filter-options .filter-options .status {
    /* margin-top: 8px; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
div.table {
    overflow: auto;
}
.container-filter-options .filter-options .date {
    margin-top: 35px;
    /* margin-left: -40px; */
}
.container-filter-options .filter-options .date div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--gray-color-800);
    font-size: 15px;
    font-weight: 500;
}
.container-filter-options .filter-options .date div input {
    border: 1px solid #B9BDC7;
    outline: none;
    background: transparent;
    padding: 8px;
    border-radius: 5px;
    width: 195px;
    color: var(--gray-color-600);
    font-size: 15px;
}
.container-filter-options .filter-options .people {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    gap: 40px;
    font-size: 14px;
    width: fit-content;
}
.container-filter-options .filter-options .people .adult,
.container-filter-options .filter-options .people .children {
    display: flex;
    align-items: center;
}
.container-filter-options .filter-options .people span.title {
    color: var(--gray-color-800);
    display: inline-block;
    margin-bottom: 6px;
}
.container-filter-options .filter-options .people span.title + p {
    color: var(--gray-color-600);
    margin-right: 25px;
}
.container-filter-options .filter-options .people .adult .number ,
.container-filter-options .filter-options .people .children .number{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-filter-options .filter-options .people .adult .number .num ,
.container-filter-options .filter-options .people .children .number .num {
    font-weight: 500;
    font-size: 22px;
}
.container-filter-options .filter-options .people .adult .number .sup,
.container-filter-options .filter-options .people .adult .number .add,
.container-filter-options .filter-options .people .children .number .sup,
.container-filter-options .filter-options .people .children .number .add {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8f1fd;
    color: #1570EF;
    border-radius: 50%;
    cursor: pointer;
}
.container-filter-options a.button {
    width: 166px;
    height: 50px;
    font-size: 16px;
    margin-right: 8px;
}
span.canvas {
   display: flex;
   justify-content: center;
   align-items: center;
}
div#demo-month-view ::-webkit-scrollbar {
    width: 0px;
}
@media screen and (max-width:1100px) {
    .container-content {
        margin: 0px 25px 30px;
    }
}
@media screen and (max-width:850px) {
    table {
        font-size: 14px;
    }
    .filter-options .status + div .search input {
        width: 250px;
    }
    .container-filter-options {
        flex-direction: column;
        gap: 45px;
    }
    .container-filter-options .filter-options {
        gap: 8px;
    }
    .container-filter-options a.button {
        margin: 0;
    }
}
@media screen and (max-width:650px) {
    .filter-options .status + div .search input {
        width: 170px;
        font-size: 14px;
    }
    .filter-options .status + div .filter {
        font-size: 14px;
    }
    .filter-options .status + div .filter {
        font-size: 14px;
    }
    .container-content {
        margin: 0px 15px 30px;
    }
}
table {
    min-width: 450px;
}
@media screen and (max-width:550px) {
    table {
        font-size: 10px;
    }
    .filter-options {
        flex-direction: column;
        row-gap: 25px;
    }

    table tbody tr {
        padding: 12px 8px;
    }
    table thead {
        padding: 12px 8px;
    }
    thead tr th:last-of-type, tbody tr td:last-of-type {
        text-align: right;
    }
    .container-content {
        margin: 0px 8px 18px;
    }
    .container-filter-options .filter-options .date {
        flex-direction: column;
        row-gap: 15px;
        width: 100%;
        margin-top: 12px;
    }
    .container-filter-options .filter-options .people {
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 30px;
    }
    .container-filter-options .filter-options .people .adult, .container-filter-options .filter-options .people .children{
        width: 100%;
        justify-content: space-between;
    }
    .container-filter-options .filter-options .date div {
        width: 100%;

    }
    .container-filter-options .filter-options .date div input {
        width: 100%;
    }
    .container-filter-options .filter-options .status {
        row-gap: 12px;
    justify-content: center;
    }
    .container-filter-options {
        box-shadow: none;
        border-radius: 3px;
    }
}

/* custom calender */

.mbsc-ios.mbsc-calendar-header, .mbsc-ios.mbsc-calendar-wrapper {
    /* border-color: #E8F1FD; */
    /* border-color: var(--gray-color-100); */
    border-width: 1px !important;
}
.mbsc-ios.mbsc-eventcalendar .mbsc-calendar-header, .mbsc-ios.mbsc-eventcalendar .mbsc-calendar-week-days {
    background-color: var(--gray-color-50);
    padding: 6px;
    border-radius: 4px;
}
.mbsc-ios.mbsc-calendar-button.mbsc-button {
    color: var(--gray-color-600);
}
.mbsc-ios.mbsc-schedule-all-day-item:after, .mbsc-ios.mbsc-schedule-column, .mbsc-ios.mbsc-schedule-item, .mbsc-ios.mbsc-schedule-resource, .mbsc-ios.mbsc-schedule-resource-group, .mbsc-ios.mbsc-timeline-column, .mbsc-ios.mbsc-timeline-day:after, .mbsc-ios.mbsc-timeline-footer, .mbsc-ios.mbsc-timeline-footer-column, .mbsc-ios.mbsc-timeline-footer-date, .mbsc-ios.mbsc-timeline-footer-week, .mbsc-ios.mbsc-timeline-header, .mbsc-ios.mbsc-timeline-header-column, .mbsc-ios.mbsc-timeline-header-date, .mbsc-ios.mbsc-timeline-header-month, .mbsc-ios.mbsc-timeline-header-week, .mbsc-ios.mbsc-timeline-resource, .mbsc-ios.mbsc-timeline-resource-footer-cont, .mbsc-ios.mbsc-timeline-resource-header-cont, .mbsc-ios.mbsc-timeline-row, .mbsc-ios.mbsc-timeline-row-date, .mbsc-ios.mbsc-timeline-row-group:after, .mbsc-ios.mbsc-timeline-sidebar-footer-cont, .mbsc-ios.mbsc-timeline-sidebar-header-cont, .mbsc-ios.mbsc-timeline-sidebar-resource, .mbsc-ios.mbsc-timeline-slot-header, .mbsc-ios.mbsc-timeline-slots {
    /* border-color: #B6D3FA; */
    /* border-color: ; */
}
.mbsc-timeline-header-column, .mbsc-timeline-header-date, .mbsc-timeline-header-month, .mbsc-timeline-header-week, .mbsc-timeline-resource, .mbsc-timeline-resource-header-cont, .mbsc-timeline-row, .mbsc-timeline-row-date, .mbsc-timeline-row-group:after, .mbsc-timeline-sidebar-header-cont, .mbsc-timeline-sidebar-resource {
    /* border-width: 0px; */
}
.mbsc-timeline-resource-col, .mbsc-timeline-sidebar-col {
    width: 120px;
    /* text-align: center; */
    background-color: #fff;
    padding-left: 8px;
}
.mbsc-ios.mbsc-calendar {
    background: #fff;
    color: var(--gray-color-600);
}
